


 
    /* Footer Section Style Start */

    .footer-content{
        display: flex;
        border: 2px solid red;
        height: 100px;
    }


    /* Responsive Media Queries */
    /* Large Mobile */
    @media screen and (max-width: 425px) {
        .nav-container {
            flex-direction: column;

        }

        .logo-container {
            margin-bottom: 62px;
        }

        .nav-menu>ul {
            flex-direction: column;
        }

        .nav-menu {
            width: 300px;
        }

    }